# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- main

pool:
  name: Default

steps:
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'mvn test'
  displayName: 'Execute Cucumber Tests'

- powershell: |
   $url = 'https://pulse-7.qtestnet.com/webhook/3190c924-8c77-40d1-86ab-926f085b77ea'
   
   $content = Get-Content "C:\TestAutomation\AzureDevOps\agent\_work\1\target\cucumber-report.json" -Raw
   $bytes = [System.Text.Encoding]::ASCII.GetBytes($content)
   $payload = [System.Convert]::ToBase64String($bytes)
   
   $body = @{
    'projectId' = '120779'
    'testcycle' = '2829436'
    'result' = $payload
   }
   
   [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
   Invoke-RestMethod -Body $body -Method 'Post' -Uri $url
  displayName: 'Upload Results to qTest Pulse'